#ACTIVE_TILE {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row:nth-child(odd) {
  transform: translateX(19px);
}
div[data-value="0"] {
  opacity: 0 !important;
  user-select: none;
}
div[data-value="1"] {
  background-color: red;
}
div[data-value="2"] {
  background-color: GREEN;
}
/*  */
div[data-value="3"] {
  background-color: YELLOW;
}
div[data-value="6"] {
  background-color: BLUE;
}
/*  */
div[data-value="4"] {
  background-color: BLACK;
}
div[data-value="8"] {
  background-color: PINK;
}
/*  */
div[valid-empty-area="1"] {
  border: 1px solid #fff;
}
#active-tile {
  background-color: red;
}
.valid-tile-selected::after {
  content: " ";
  border: 2px solid !important;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.board {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.board .row {
  display: flex;
  gap: 10px;
}
.row div {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(136, 136, 136, 0.836);
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}
.tile-movable-area {
  background-color: #fff5;
}

div[data-value="0"]:hover {
  cursor: unset;
}
.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.row div:not(.active-player) {
  opacity: 0.35;
}
/* .active-player:not([data-value="0"]) {
  opacity: 1;
} */
