:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.game-details {
  font-size: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.game-details p {
  background: #8885;
  padding: 5px 8px;
  border-radius: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.game-details_teamselect {
  font-size: 27px;
  padding: 7px 14px;
  border-radius: 10px;
}
section {
  font-family: cursive;
  text-align: center;
}
.room-section {
  width: 100vw;
}
.room-section div {
  padding: 7px;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.room-section div input {
  padding: 10px;
  border-radius: 5px;
  border: unset;
  text-align: center;
}
.user-select-none {
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
}
.chinese-checkers {
  height: 85vh;
}
.game-ranking td,
.game-ranking th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
.game-ranking td:nth-child(2) {
  width: 120px;
}
@media only screen and (max-width: 600px) {
  .room-section h1 {
    font-size: 1.5rem;
  }
  .room-section div {
    width: 80%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
